@model She_He_Store.Models.Productvariant

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Productvariant</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Productsize)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Productsize)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Color)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Color)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product.Productid)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Variantid">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
