@model IEnumerable<She_He_Store.Models.Category>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <style>
        .product-image {
            max-width: 150px;
            height: 150px;
        }

        table thead tr th {
            font-weight: 700;
            color: black;
        }

        tr td {
            color: black;
        }
    </style>
</head>
<h1 style="margin-bottom:15px">Category List</h1>
<p>
    <a asp-action="Create" class="btn" style="background-color:black; color :white">Create New</a>
</p>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Category Name</th>
                <th>@Html.DisplayNameFor(model => model.ImagePath)</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Categoryname)</td>
                    <td>
                        <img src="@Url.Content("~/images/" + item.ImagePath)"
                             asp-append-version="true"
                             alt="Category Image" class="product-image" />
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Categoryid" style="font-size:17px">
                            <i class="fa fa-edit"></i>
                        </a>
                        <a asp-action="Details" asp-route-id="@item.Categoryid" style="font-size:17px">
                            <i class="fa fa-info-circle"></i>
                        </a>
                        <a asp-action="Delete" asp-route-id="@item.Categoryid" style="font-size:17px">
                            <i class="fa fa-trash aria-hidden=" true""></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
