@model IEnumerable<She_He_Store.Models.Contactu>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<head>
    <style>
        .product-image {
            max-width: 150px;
            height: 150px;
        }

        table thead tr th {
            font-weight: 700;
            color: black;
        }

        tr td {
            color: black;
        }
    </style>
</head>
<h1 style="margin-bottom:15px">Conatct</h1>
<p>
    <a asp-action="Create" class="btn" style="background-color:black; color :white">Create New</a>
</p> 
<div class="table-responsive">
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Contactid">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Contactid">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Contactid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>
